nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

.container {
  text-align: left;
}

.centered {
  text-align: center;
}

.input_row {
  margin: 30px;
}

.submit_activity {
  margin-left: 30px;
}

#story-body {
  width: 300px;
  height: 150px;
  font-family: sans-serif;
  resize: none;
}

#story-submit {
  display: block;
}

table{
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  width: 750px;
  text-align: left;
}

th, td {
  overflow: hidden;
  width: 250px;
  margin: 0;
  border-bottom: 1px solid LightGray;
}

th {
  padding-bottom: 10px;
  font-size: 20px;
}

#activity-card {
  background-color: rgb(111, 84, 153);
  background-image: linear-gradient(rgb(86, 61, 124) 0px, rgb(111, 84, 153) 100%);
  background-repeat: repeat-x;
  border-radius: 15px;
  padding: 30px 40px; /*tops, sides*/
  color: white;
}


h1 {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#what-should-i-do-today {
  text-align: center;
  margin-top: 30px;
}
