body {
  background-image: url('http://4.bp.blogspot.com/-lo-urRpzT-E/ThdJJn2k9ZI/AAAAAAAABEI/Px1-GtT_MPs/s1600/MJI_1569.jpg');
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  margin-top: 50px;
}


.feature-space {
  background-color: rgba(255,255,255,0.9);
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  color: #3a222d;
  margin-top: 30px;
  margin-bottom: 30px;
  /*text-align: center;*/
  text-shadow: rgba(255,255,255,0.7) 1px 1px 2px;
  font-family: 'Oxygen', sans-serif;
}

#what-should-i-do-today {
  margin-top: 30px;
  padding: 5px;
}

#next-activity {
  background-color: rgba(255,255,255,0.9);
}

.btn {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  font-family: 'Oxygen', sans-serif;
}

.btn-md {
  background-color: rgb(116,69,90);
  color: white;
}

.container {
  max-width: 600px;
  min-width: 55%;
}

.centered {
  text-align: center;
}

/*#transparent-bg {
  background-color: rgba(0,255,255,0.9);
  display: block;
}*/

/* navigation bar */

.navbar-default {
  background-color: rgba(255,255,255,0.7);
  font-family: 'Oxygen', sans-serif;
}

#navbar-container {
  padding-right: 20px;
  width: 100%;
}

.navbar-default .navbar-nav > li > a {
  color: #777777;
}



h1#app-name {
  font-family: 'Aclonica', sans-serif;
  font-size: 100px;
  font-weight: normal;
  text-align: center;
  text-shadow: rgba(255,255,255,0.6) 2px 2px 2px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(116,69,90);
}

#app-description {
  padding: 30px;
}

h2 {
  margin-top: 18px;
}

p {
  font-size: 115%;
}

/* activity card and do it page */

#blurb {
  margin-top: 20px;
}

#url a {
  color: #39b3d7;
}

#do-it { /* div containing the do-it button */
}

#HMSremaining {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.countdown-text {
  font-size: 20px;
}

#countdown-timer {
  font-size: 72px;
  text-align: center;
  margin: -10px;
}

#google-map {
  margin-top: 30px;
  margin-bottom: 30px;
}

#google-map a {
  color: rgb(116,69,90);
}

#did-it { /* div containing the did-it button */
}

/* suggest a new activity page */

#suggestion-instructions {
  margin-top: 10px;
  margin-bottom: 30px;
}

#suggestion-submit {
  margin-top: 10px;
}

/* submit a new story */

#encouragement-to-submit {
  margin-top: 30px;
  margin-bottom: 20px;
}

#story-body {
  resize: none;
}

#story-submit {
  margin-top: 20px;
}

#stories-div {
  margin-top: 30px;
}

/* activities and adventures index pages */

.table > tbody > tr > th
{
  border-top: none;
  border-bottom: 1px solid #ddd;;
}

.table > tbody > tr > td {
  border-top: none;
}

.input_form {
  padding-right: 20px;
}

/* flash error messages */

#flash-alert {
  position: relative;
  top: 40px;
}
