nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

.container {
  text-align: left;
}

.centered {
  text-align: center;
}

#activity-card {
  background-color: LightGoldenRodYellow;
  height: 300px;
  width: 500px;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.activity-name {
  color: purple;
  font-size: 22pt;
  text-align: center;
}

.input_row {
  margin: 30px;
}

.submit_activity {
  margin-left: 30px;
}


