<div class="container">
  <div id="about-info" class="feature-space">
    <h2 class="about-title">About</h2>
    <h3>What is Do Me!?</h3>
    <p>Do Me! is an app for the indecisive adventurer. If you’ve ever found yourself anxious to get out and try something new in Boston, but unsure of what exactly that ‘something’ is, Do Me! can help. Simply click on the ‘What should I do today?’ button, and Do Me! will give you a great suggestion for something fun to do. Not thrilled with the suggestion? Just click the button again, and keep clicking until you find an activity you’re excited about. Then, go out and do it!</p>
    <h3>What kind of activities are there?</h3>
    <p>You will see suggestions for fun, spontaneous excursions, costing no more than $30. These suggestions come from other users like you, who are passionate about experiencing their city to the fullest, and are eager to share their discoveries.</p>
    <h3>Why can’t I see all of the activities?</h3>
    <p>We built Do Me! on the conviction that your time is better spent actually doing something, rather than deciding what to do.  Do Me! gives you only one suggested activity at a time because long lists of options can be overwhelming and paralyzing, and indecision shouldn’t get in the way of experiencing the best that Boston has to offer.</p>
    <h3>What happens when I click 'Do me!'?</h3>
    <p>When you’ve chosen an activity, click the ‘Do me!’ button to see a map of the activity location. You’ll also see how much time you have left in the day to get out there and do it. Once you’ve clicked ‘Do me!’, you won’t be able to go back - and this is intentional. Once you’ve decided on an activity, we want you to stop thinking and start having your adventure.</p>
    <h3>What about when I click ‘I Did It!’?</h3>
    <p>Once you’ve completed an activity, click ‘I Did It!’ to add this to your adventure log. You can then submit a story about your experiences and anything you think other users might find interesting. If you really enjoyed yourself, why not pay it forward? Submit a new activity suggestion of your own!</p>
  </div>
</div>
