<div class="container">

  <div class="row">
    <div id="about-info" class="feature-space col-sm-6 col-sm-offset-3">
      <h1 class="about-title">About</h1>

      <p>Some info goes here</p>

    </div>
  </div>

</div>

