<div id='activity-card'>
  <h2>Do me!</h2>
  <p>Do me! is a quick and easy way to decide what to do today</p>
  <p>Click the "What should I do today?" button to display a single, simple idea for something to do</p>
  <p>When you see one you like, click the "Do me!" button to dive in</p>
</div>

<br><br>

<div class="centered">
  <a class="btn btn-md btn-primary" id="next-activity" role="button">What should I do today?</a>
</div>