<center>
<h1>Do Me!</h1>
<h2>A quick way to decide what to do today</h2>

<div id='feature-space'>
  <%= @activity.name %>
</div>

<br><br>
<button type="button" id="next-activity">Suggest an activity</button>




</center>