<div class="container">

  <div class="row">
    <div id="activity-card" class="col-sm-6 col-sm-offset-3">
      <h1 class="activity-name">Do Me!</h1>

      <p>Do Me! is a quick and easy way to decide what to do today.</p>
      <p>Click the "What should I do today?" button to display a single, simple idea for something to do.</p>
      <p>When you see one you like, click the "Do me!" button to dive in!</p>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" id="what-should-i-do-today">
      <button type="button" class="btn btn-success btn-lg" id="next-activity">What should I do today?</button>
    </div>
  </div>

</div>


