<div class="container">

  <div id="activity-card" class="feature-space ">
    <h1 id="app-name">do me!</h1>
    <h3 class="centered"> Have an Adventure in Boston. Today. </h3>

    <div id="app-description">
      <p>Click the "What should I do today?" button to display a single, simple idea for something to do. When you see one you like, click the "Do me!" button to dive in.</p>
    </div>
  </div>


  <div id="what-should-i-do-today" class="">
    <button type="button" class="btn btn-lg btn-block" id="next-activity">What should I do today?</button>
  </div>


</div>


